/* blue #3561fe */
/* very light blue for input background #f3f6ff */
/* light blue for disabled buttons #cdd9ff */
/* grey for text over input #d0d2d7 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}