.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100vh;
    color: #a0a2a7;
}

.container h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color:#3561fe;
}

.container p span {
    font-weight: bold;
}

.loginMenu {
    width: 100%;
}

.loginMenu form {
    display: flex;
    flex-direction: column;
}



.loginTextInput {
    border: none;
    background-color: #f3f6ff;
    padding: 1.2rem 0;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-indent: 1rem;
}

.loginTextInput::placeholder {
    color: #a0a2a7;

}

.loginButton {
    background-color: #3561fe;
    color: white;
    border: none;
    border-radius: 1rem;
    width: 100%;
    padding: 1.2rem 0;
    margin-bottom: 1rem;
}

.loginForgotPassword {
    text-align: end;
    margin: 0 0 2rem 0;
}

.loginOauthTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 10pt;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.loginOauthTitle span {
    height: 1px;
    /* width: 3rem; */
    flex: 1;
    background-color: #a0a2a7;
    display: block;
}

.loginOauthTitle p {
    margin: 0 1rem;
}

.loginOauth {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.loginOauthButton {
    background-color: white;
    width: 100%;
    padding: 1rem 0;
    border-radius: 1rem;
    border-color: #d5e5fe;
    border-style: solid;
    border-width: 1px;
    color: #a0a2a7;
    display: flex;
    justify-content: center;
}

.loginOauthButton:first-of-type {
    margin-bottom: 1rem;

}

.loginOauthButton img {
    max-width: 1rem;
    margin-right: 0.5rem;
}

.container p span {
    color:#3561fe;
}